@tailwind base;
@tailwind components;
@tailwind utilities;

/* 移除所有干扰大屏体验的默认外边距 */
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #030712; /* 深色太空底色 */
}

/* 优化全局滚动条，使其符合现代化 Dashboard 质感 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}